extends ../shared/template
block content
  h1 Hang Man
  input#name(type='text')
  button#new New Game
  #person
  #id
  #wordLetters
  input#guessLetter(type='text')
  button#makeGuess Submit
  #displayWord
  #lettersUsed
